/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2014, 10:28:14 AM
    Author     : stephenwan
*/

.json-delimiter {
    padding-left: 25px;
}
.json-delimiter button {
    width: 50px;
    margin-left: 0px;
    padding-left: 0px;
    border: none;
    color: inherit;
    background: none;
    box-shadow: none;
}
.json-value-composite {
    padding-right: 0px;
}
.json-value-composite .btn .caret{
    margin-left: 10px;
}
.json-value-composite span.dropdown-toggle {
    border-radius: 0px;
    background-color: inherit;
    color: inherit;
    background-position: 0;
}
.json-delimiter:last-of-type span {
    margin-left: 12px;
}
.json-value-row,
.json-value-row-ctl {
    margin: 0px;
}
.json-value-row-ctl > div:first-child {
    padding: 10px 50px;
}
.json-value-row .json-array-value,
.json-value-row .json-hash-key {
    padding: 0px;
    padding-left: 20px;
}
.json-value-row:hover > .json-hash-key > .input-group > .btn.record-del,
.json-value-row:hover > .json-array-value > .input-group > .btn.record-del {
    visibility: visible;
}
.json-value-row-ctl button.record-add {
    background:none!important;
    border:none; 
    padding:0!important;    
    font-family:arial,sans-serif;
    color:#069;
    text-decoration:underline;
    cursor:pointer;
}
.json-value-row span.record-del {
    top: 0px;
    background-color: inherit;
    border: none;
    color: red;
}



